body{
    background-color:#B0E0E6 ;
    font: normal 15pt arial;


}
header{
    text-align: center;
    font: normal 20pt arial;
    color: white;
    text-shadow: 5px 5px 10px black;


}
section{
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.404);
    text-align: center;


}
#img{

    margin-top: 15px;}

#res{
    text-align: center;
    margin-top: 15px;
    
    
}


